.text_skills_animation-appear {
	opacity: 0;
}
.text_skills_animation-enter {
	opacity: 0;
	transform: translateY(-150%);
}
.text_skills_animation-enter-active {
	opacity: 1;
	transform: translateY(0);

}

.text_skills_animation-exit {
	transform: translateY(0);
}
.text_skills_animation-exit-active {
	transform: translateY(-150%);
	opacity: 0;

}
.text_skills_animation-exit-done {
	opacity: 0;
	transform: translateY(-150%);
}
