.text_animation-appear {
	opacity: 0;
}
.text_animation-enter {
	opacity: 0;
	transform: translate(150%);
  }
  .text_animation-enter-active {
	opacity: 1;
	transform: translate(0);
	transition: 1000ms;
  }

  .text_animation-exit {
	transform: translate(0);
  }
  .text_animation-exit-active {
	transform: translate(-150%);
	opacity: 0;
	transition: 1000ms;
  }
  .text_animation-exit-done {
	opacity: 0;
	transform: translate(-150%);
  }