.btnBlock{
	position: absolute;
	z-index: 2;
	left: 5%;
	bottom: 5%;

	&>div{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
.button{
	&:not(:last-child) {
		margin-right: 15px;
	}
}

.textBtn{
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: "Inter";
	font-size: 18px;
	
	p{
		margin-left: 5px;
	}

	@media (max-width: 500px) {
		font-size: 12px;
	}
	@media (max-width: 310px) {
		p{
			display: none;
		}
	}
}
