.btnBlock{
	position: absolute;
	z-index: 2;
	left: 5%;
	bottom: 5%;

	&>div{
		width: 500px;
		display: flex;
		justify-content: space-around;
	}
}

.textBtn{
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: "Inter";
	font-size: 18px;
	
	p{
		margin-left: 5px;
	}
}
