.aws-btn {
	min-height: 50px;
	--button-default-font-size: 18px;
	--button-default-border-radius: 12px;
	--button-horizontal-padding: 35px;
	--button-raise-level: 10px;
	--button-hover-pressure: 4;
	--transform-speed: 0.2s;

	--button-primary-color: #383838;
--button-primary-color-dark: #000000;
--button-primary-color-light: #ffffff;
--button-primary-color-hover: #363636;
--button-primary-color-active: #333333;
--button-primary-border: 0px solid transparent;
}
.__active-aws-btn{
	--button-hover-pressure: 0;
	--button-raise-level: 3px;
}