.flexBlock{
	position: relative;
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	padding: 10px 15px;
	background-color: rgba(66, 66, 66, 0.692);
	border-radius: 5px;

	@media (max-width: 500px) {
		flex: 1 1 auto;
	}
}
.iconSection{
	width: 25px;
	height: 25px;
	padding-right: 5px;
}
.textSection{
	font-family: "Inter";
	font-size: 16px;
	line-height: 120%;
	font-weight: 700;
	color: aliceblue;
	cursor: pointer;

	@media (max-width: 500px) {
		text-align: center;
		font-size: 14px;
	}
}