.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.container{
	position: absolute;
	z-index: 1;
	top: 10%;
	left: 20%;
	right: 20%;
	bottom: 10%;
}
.textProject{
	font-family: "Inter";
	font-weight: 300;
	font-size: 22px;
	line-height: 120%;
	color: aliceblue;

	margin-bottom: 50px;
}
.projectList{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	width: 100%;
}
